.+{{path}}+
    |===
    |파라미터 이름|설명|필수 여부|기본값|형식

{{#parameters}}
    |{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{^optional}}`true`{{/optional}}{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#example}}`{{.}}`{{/example}}{{/tableCellContent}}
    |{{#tableCellContent}}{{format}}{{/tableCellContent}}

{{/parameters}}
    |===
