|===
|필드명|타입|필수 여부|설명|예시|형식

{{#fields}}
|{{#tableCellContent}}`{{path}}`{{/tableCellContent}}
|{{#tableCellContent}}`{{type}}`{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}`true`{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#example}}`{{.}}`{{/example}}{{/tableCellContent}}
|{{#tableCellContent}}{{format}}{{/tableCellContent}}
{{/fields}}
|===
