|===
    |경로|타입|설명|예시|형식

{{#fields}}
    |{{#tableCellContent}}`{{path}}`{{/tableCellContent}}
    |{{#tableCellContent}}`{{type}}`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#example}}`{{.}}`{{/example}}{{/tableCellContent}}
    |{{#tableCellContent}}{{format}}{{/tableCellContent}}
{{/fields}}
    |===
